{% load staticfiles %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
        {{ title|title }}
        {% endblock %}
    </title>
    <link rel="stylesheet" href="{% static 'styles/style.css' %}">
    {% block styles %}
    {% endblock %}

</head>
    <body>
        <div class = "container">
            <header>
                <div class="logo">
                    <a href="/">
                        <img src="{% static 'images/logo.png' %}" height="70" >
                    </a>
                </div>
                {% block menu %}
                {% include 'mainapp/include/menu.html' %}
                {% endblock %}
            </header>

            {% block content %}

            {% endblock %}

            <!-- footer -->
            <footer>
                <div class="rights-text">
                    &copy; Все права защищены {% now 'Y год' %}
                </div>
            </footer>
        </div>
    </body>
</html>



