{% extends 'mainapp/base.html' %}
{% load staticfiles %}



{% block styles %}
        <link rel="stylesheet" href="{% static 'styles/products.css' %}">
{% endblock %}


{% block content %}
            <hr>
            <h1>Каталог</h1>

            <div class="product-container">
                {% for k, v in products.items %}

                <div class="product-item">
                    <a href = "{% static 'images/lenovox1.jpg' %}" target="_blank">
                        <img src="{% static 'images/lenovox1.jpg' %}" height="100" >
                    </a>
                    <p class="product-catalog-description">
                        {{ v.short_description }}
                    </p>
                    <a class="product-link" href = "/catalog/{{ k }}/">
                        <span class="product_name">Купить</span>
                    </a>
                </div>

                {% endfor %}



            </div>

{% endblock %}
