{% extends 'mainapp/base.html' %}
{% load staticfiles %}

{% block styles %}
<link rel="stylesheet" href="{% static 'styles/contacts.css' %}">
{% endblock %}


{% block content %}

        <hr>
        <h1>Напишите нам!</h1>

        <fieldset>
            <legend>Форма</legend>
            <form class="feedback-form" action="index.html" method="post">
                <input type="Text" placeholder="Ваше имя" name = "name"><br>
                <input type="email" placeholder="e-mail" name = "email"><br>
                <input type="Text" placeholder="Тема" name = "theme"><br>
                <label for="textid">Текст</label><br>
                <textarea id = "textid" name = "text"></textarea><br>
                <input type="submit" value="Отправить">
            </form>
        </fieldset>
        <hr>
        <h2>Адрес:</h2>
        <p>
            <strong>Телефон: </strong> +7 999 1112233<br>
            <strong>Адрес: </strong> г. Москва<br>
            <strong>Email: </strong> mail@ya.ru<br>
        </p>

            <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A5968b0ba24390572b6761bb2ef0813194a3eeaa3209efc16abe340a11cd87402&amp;width=100%25&amp;height=374&amp;lang=ru_RU&amp;scroll=true"></script>


{% endblock %}
