{% extends 'mainapp/base.html' %}
{% load staticfiles %}



{% block styles %}
        <link rel="stylesheet" href="{% static 'styles/products.css' %}">
{% endblock %}


{% block content %}

            <hr>
            <h2>{{ product.name }}</h2>
            <a href = "{% static 'images/lenovox1.jpg' %}" target="_blank">
                <img class="product-image" src="{% static 'images/lenovox1.jpg' %}" height="596" width="1060">
            </a>
            <h3>Описание товара</h3>
            <p class="product-description">
                {{ product.description }}
            </p>
            <table class = "specs">
            <caption>Характеристика товара</caption>
                <thead>
                    <tr>
                        <th>CPU</th>
                        <th>Display</th>
                        <th>HDD</th>
                        <th>Bat</th>
                        <th>Weight</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>2Mhz</td>
                        <td>15"</td>
                        <td rowspan="2">1Tb</td>
                        <td>10 hours</td>
                        <td>2 kg</td>
                    </tr>
                    <tr>
                        <td>3Mhz</td>
                        <td>17"</td>
                        <td>10 hours</td>
                        <td>2.5 kg</td>
                    </tr>
                    <tr>
                        <td>1,5Mhz</td>
                        <td>13"</td>
                        <td>1Tb</td>
                        <td colspan="2">12 hours, 1.5 kg</td>
                    </tr>
                </tbody>
            </table>
            <h3>Подробное описание товара</h3>
            <p class="product-details">
                {{ product.long_description }}
            </p>
            <hr>


{% endblock %}

