.feedback-form input[type="email"]:focus{
    color: white;
    background-color: black;
    font-size: 16px;
}

.feedback-form input[type="text"]{
    text-transform: capitalize;
}

.feedback-form textarea {
    width: 30%;
    height: 100px;
    color: darkslategray;
    font-size: 12px;
}


.feedback-form input {
    width: 30%;
    height: 20px;
    color: darkslategray;
    font-size: 14px;
}
