h1, h2 {
    text-align: center;
}

.product-container {
    width: 100%;
}

.product-container:after {
    display: block;
    content: '';
    clear: both;
}

.product-item {
    float: left;
    margin-left: 45px;
    margin-top: 30px;
    width: 270px;
    border: 1px solid gray;
}



.product-item img{
    float: left;
    margin-right: 5px;
}

.product-description {
    color: #707070;
    font-size: 14px;
    font-style: italic;
    line-height: 16px;
}

.product-details {
    color: #484343;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

.product-image {
    width: calc(100% - 4px);
    border: 2px solid darkblue;
}

.product-image:hover {
    border-color:transparent;
}

.product-link {
    display: block;
    font-family: Arial, sans-serif;
    color: black;
    background-color: lightgray;
    text-align: center;
    line-height: 20px;
    border: 1px solid gray;
    text-decoration: none;
    padding: 10px 30px;
    margin: 10px 20px;
}

.product-link:hover {
    background-color: white;
}

.product-link:active {
    background-color: black;
    color: white;
}

.product-catalog-description:first-letter {
    text-transform: uppercase;
    font-size: larger;
    font-weight: 800;
    color: darkred;
}

.specs thead tr{
    height: 50px;
}

.specs {
    border-collapse: collapse;
}

.specs td, th, caption{
    border: 1px solid black;
}

.specs caption{
    border-bottom: none;
}
