
.container {
    width: 1000px;
    margin: 0 auto;
    background-color: #d8d8df;
}

header {
    height: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    background: url("../images/background.jpg");
    /*position: fixed;*/
}

header .logo{
    margin: auto 20px;
    filter: invert(1);
}

.menu {
    text-align: left;
    margin: auto 20px;
}

.menu li{
    display: inline;
    font-family: Arial, sans-serif;
    font-style: italic;
    font-size: 20px;
    list-style-type: none;
    margin-right: 10px;
}

.menu li a {
    color: white;
    text-decoration: none;
}

.menu li a:hover {
    color: seagreen;
}

h3 {
    color: black;
    font-size: 18px;
    font-weight: 400;
    background-color: #eaeaea;
}

footer {
    background: url("../images/background.jpg");
    height: 50px;
}

footer .rights-text {
    text-align: right;
    padding: 15px 20px;
    color: white;
}



/*.header ul {*/
    /*position: absolute;*/
    /*right: 0px;*/
/*}*/