                <ul class="menu">
                    <li><a href="{% url 'main' %}">Главная</a></li>
                    <li><a href="{% url 'catalog' %}">Каталог</a></li>
                    <li><a href="{% url 'contacts' %}">Контакты</a></li>
                </ul>